<h1>Bill Gates quotes</h1>
<div class="container">
    <ol>
        <li>Patience is a key element of success</li>
        <li>If you think your teacher is tough, wait till you get a boss</li>
        <li>Life is not fair — get used to it!</li>
        <li>Success is a lousy teacher. It seduces smart people into thinking they can’t lose</li>
        <li>Be nice to nerds. Chances are you’ll end up working for one</li>
    </ol>
</div>
<br>
<br>
<h1>Bill Gates Biography</h1>
<div class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Bill_Gates_2018.jpg/220px-Bill_Gates_2018.jpg" alt="Bill Gates">
    <div class="bio">
        <h2>Early life</h2>
        <p>William Henry Gates III was born on October 28, 1955, in Seattle, Washington. Gates grew up in an upper-middle-class family with his
             older sister, Kristianne, and younger sister, Libby. Their father, William H. Gates Sr., was a prominent lawyer, and their 
             mother, Mary Maxwell Gates, served on charitable boards and corporate boards, including those of First Interstate BancSystem 
             and the United Way.</p>
        <h2>Career</h2>
        <p>Gates began programming computers at the age of 13. In 1973, he enrolled at Harvard University but dropped out two years later 
            to start Microsoft with childhood friend Paul Allen. The company's big break came in 1980, when IBM approached Microsoft to create 
            an operating system for its new personal computer. Microsoft retained the rights to the operating system, now known as MS-DOS, 
            and became a key player in the emerging personal computer industry.</p>
        <h2>Philanthropy</h2>
        <p>Gates and his wife, Melinda, are known for their philanthropic work through the Bill and Melinda Gates Foundation. The 
            foundation focuses on global health and development, education, and public policy. In 2010, Gates and Warren Buffett launched 
            The Giving Pledge, a campaign to encourage billionaires to give away the majority of their wealth to charitable causes.</p>
    </div>
</div>